In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ferit\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
df = pd.read_csv('Churn_Modelling.csv')

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [11]:
df.duplicated().sum()

0

In [12]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [13]:
df.std()

C:\Users\ferit\AppData\Local\Temp\ipykernel_2160\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

RowNumber           2886.895680
CustomerId         71936.186123
CreditScore           96.653299
Age                   10.487806
Tenure                 2.892174
Balance            62397.405202
NumOfProducts          0.581654
HasCrCard              0.455840
IsActiveMember         0.499797
EstimatedSalary    57510.492818
Exited                 0.402769
dtype: float64

In [17]:
df = df.drop('Surname', axis=1)

In [18]:
df = df.drop('Geography', axis=1)

In [19]:
df.head()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
df.isnull().any()

RowNumber          False
CustomerId         False
CreditScore        False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [21]:
gender_maping = {'Female':0, 'Male':1}
df['gender_encoded'] = df['Gender'].map(gender_maping)

In [22]:
df = df.drop('Gender', axis=1)

In [26]:
df = df.drop('CustomerId', axis=1)

In [27]:
df = df.drop('RowNumber', axis=1)

In [54]:
X = df.drop('gender_encoded', axis=1)
y = df['gender_encoded']

In [61]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaler.transform(X)

array([[-0.32622142,  0.29351742, -1.04175968, ...,  0.97024255,
         0.02188649,  1.97716468],
       [-0.44003595,  0.19816383, -1.38753759, ...,  0.97024255,
         0.21653375, -0.50577476],
       [-1.53679418,  0.29351742,  1.03290776, ..., -1.03067011,
         0.2406869 ,  1.97716468],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ...,  0.97024255,
        -1.00864308,  1.97716468],
       [ 1.25683526,  0.29351742, -0.69598177, ..., -1.03067011,
        -0.12523071,  1.97716468],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -1.03067011,
        -1.07636976, -0.50577476]])

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [63]:
#Basic neural network model.
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(random_state=1, max_iter=300).fit(X_train, y_train)

In [64]:
 y_pred = clf.predict(X_test)

In [65]:
##As you see we got really bad accuracy score. Let's try same model with our neural network.
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.47909090909090907

In [66]:
##Our neural network model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # Input layer with 64 neurons and ReLU activation
    Dense(32, activation='relu'),  # Hidden layer with 32 neurons and ReLU activation
    Dense(1, activation='sigmoid')  # Output layer with 1 neuron for binary classification (sigmoid activation)
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy}")

Epoch 1/10
210/210 [==============================] - 1s 2ms/step - loss: 1252.8397 - accuracy: 0.5088 - val_loss: 151.7584 - val_accuracy: 0.4806
Epoch 2/10
210/210 [==============================] - 0s 2ms/step - loss: 98.2962 - accuracy: 0.4996 - val_loss: 72.8806 - val_accuracy: 0.5197
Epoch 3/10
210/210 [==============================] - 0s 2ms/step - loss: 67.9273 - accuracy: 0.5007 - val_loss: 51.1690 - val_accuracy: 0.4782
Epoch 4/10
210/210 [==============================] - 0s 2ms/step - loss: 78.5155 - accuracy: 0.5043 - val_loss: 28.0123 - val_accuracy: 0.4821
Epoch 5/10
210/210 [==============================] - 0s 1ms/step - loss: 53.8187 - accuracy: 0.5161 - val_loss: 65.0075 - val_accuracy: 0.4600
Epoch 6/10
210/210 [==============================] - 0s 1ms/step - loss: 90.7464 - accuracy: 0.5030 - val_loss: 150.5829 - val_accuracy: 0.4788
Epoch 7/10
210/210 [==============================] - 0s 2ms/step - loss: 69.9775 - accuracy: 0.5201 - val_loss: 71.3603 - val_accuracy: 0.5391
Epoch 8/10
210/210 [==============================] - 0s 1ms/step - loss: 78.2279 - accuracy: 0.5001 - val_loss: 65.9821 - val_accuracy: 0.4609
Epoch 9/10
210/210 [==============================] - 0s 1ms/step - loss: 62.1407 - accuracy: 0.4982 - val_loss: 26.1957 - val_accuracy: 0.5024
Epoch 10/10
210/210 [==============================] - 0s 2ms/step - loss: 63.0047 - accuracy: 0.4991 - val_loss: 85.2881 - val_accuracy: 0.4600
104/104 [==============================] - 0s 1ms/step - loss: 85.2881 - accuracy: 0.4600
Test Accuracy: 0.46000000834465027

In [ ]:
##While me make implemetation correctly and we scaled and cleared our data, in the both models we did not get well 
##accuarcy scores. That mean we are using wrong data for neural network modelling.